<!DOCTYPE html>

<html>

  <head>

  </head>
  <body>
          Are we like all the other gradebooks? NAH. We're the real deal.
      Everything that you'd want is here:
      <!-- make this into a left and right side. left for teachers, right for students !-->
	   Teachers:
	   <ol>
	     <li>Class pages to post assignments and link to download related pdfs.</li>
	     <li>View your class' statistics</li>
	   </ol>
	   Students:
	   <ol>
	     <li>Sign up for all your classes</li>
	     <li>View grades/comments on your work</li>
	     <li>Calender with all assignments</li>
	   </ol>
  </body>
</html>
  
