{% extends "base.html" %}

{% block body_content %}

<div class="container">
    <div class="jumbotron col-lg-12">

    <div class="jumbotron_description">
        <h1 class="center-text no-select">About Us</h1>
        <p>
        After having bookmarked way too many class pages, us the team, decided enough was enough. The endless starred pages were just too much. It was time for a change. It was time for <i>the</i> gradebook. And so here we are. Welcome to gradebook.
        </p>

        <p>
        What we have here is a site for teachers and students alike. Give us some basic info and for teachers, we'll generate a class page with all the things you'd want (class list with important arithmetic numbers, assignment page, calender) and for students, we'll generate your own page with all the things you'd want (courses, calender with assignment due date, links to all the related PDFs you need).
        </p>

        <h1 class="center-text no-select">Contact Us</h1>
        <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
        vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
        no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
        </div>
    </div>
</div>

{% endblock body_content %}
