{% extends "base.html" %}

{% block body_content %}

<div class="container">

<p>
  After having bookmarked way too many class pages, us the team, decided enough was enough. The endless starred pages were just too much. It was time for a change. It was time for <i>the</i> gradebook. And so here we are. Welcome to gradebook.
</p>

<p>
  What we have here is a site for teachers and students alike. Give us some basic info and for teachers, we'll generate a class page with all the things you'd want (class list with important arithmetic numbers, assignment page, calender) and for students, we'll generate your own page with all the things you'd want (courses, calender with assignment due date, links to all the related PDFs you need).
</p>

<!-- contact us stuff !-->

</div>

{% endblock body_content %}
{% block scripts %}
{% endblock scripts %}
