{% extends "base.html" %}

{% block navbar_content_left %}
{% endblock navbar_content_left %}
{% block navbar_content_right %}
<li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock navbar_content_right %}

{% block body_content %}
<div class="container">

  <div class="col-md-12">
    {% for assignment in assignments %}
    {% if assignment['name'] == name %}
    <h2><span style="font-weight:bold">
	{{ course_data['name'] }}: 
    </span></h2>
    <h4>{{ assignment['name'] }}</h4>
    
    <br/>
    <div class="well well-lg">
      <p>{{ assignment['description'] }}</p>
      <span style="font-weight:bold">Due Date: {{ assignment['dueDate'] }}</span>
    </div>

    <!-- OPTIONAL: messaging/comment section -->
    
    {% if userType=='teacher' %}
    <form id='form' class="form-horizontal" method="POST" action="{{ url_for('assignment', course_id=course_data['_id'], name=name) }}">
      <fieldset>
	
	<h1>Edit Assignment</h1>
	
	<div class="form-group">
	  <label for="name" class="col-lg-2 control-label">New Assignment Name</label>
	  <div class="col-lg-10">
	    <input type="text" class="form-control" id="new_name" name="new_name" pattern=".{2,100}" value="{{ assignment['name'] }}">
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="description" class="col-lg-2 control-label">New Description</label>
	  <div class="col-lg-10">
	    <textarea class="form-control" id="new_description" name="new_description" maxlength="300">
	    </textarea>
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="description" class="col-lg-2 control-label">New Due Date</label>
	  <div class="col-lg-10">
	    <input type="text" id="new_month" name="new_month" pattern="[0-9]{1,2}" value="{{ assignment['dueDate'][0:2] }}"> /
	    <input type="text" id="new_day" name="new_day" pattern="[0-9]{1,2}" value="{{ assignment['dueDate'][3:5] }}">/
	    <input type="text" id="new_year" name="new_year" pattern="[0-9]{4}" value="{{ assignment['dueDate'][6:] }}">
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="description" class="col-lg-2 control'label">New Assignment Type</label>
	  <div class="col-lg-10">
	    <div class="radio radio-primary">
	      {% if assignment['aType'] == 'warning' %}
	      <label><input id="new_aType" name="new_aType" value="warning" type="radio" checked="">Test</label>
	      {% else %}
	      <label><input id="new_aType" name="new_aType" value="warning" type="radio">Test</label>
	      {% endif %}
	      {% if assignment['aType'] == '' %}
	      <label><input id="new_aType" name="new_aType" value="" type="radio" checked="">Homework</label>
	      {% else %}
	      <label><input id="new_aType" name="new_aType" value="" type="radio">Homework</label>
	      {% endif %}
	      {% if assignment['aType'] == 'info' %}
	      <label><input id="new_aType" name="new_aType" value="info" type="radio" checked="">Review</label>
	      {% else %}
	      <label><input id="new_aType" name="new_aType" value="info" type="radio">Review</label>
	      {% endif %}
	    </div>
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="password" class="col-lg-2 control-label">Verify Password</label>
	  <div class="col-lg-10"> <input type="password" class="form-control" id="password" name="password" placeholder="CurrentSuperSecretPassword" pattern=".{6,50}" required>
	  </div>
	</div>
	
	<div class="form-group">
	  <div class="col-lg-12 center-text">
	    <button id="submit" name="submit" value="edit" class="btn btn-primary">Edit</button>
	    <button id="submit" name="submit" value="delete" class="btn btn-warning">Delete Assignment</button>
	  </div>
	</div>
      </fieldset>
    </form>
    {% endif %}

    {% endif %}
    {% endfor %}
    
  </div>
</div>

{% endblock %}
