{% extends "base.html" %}

{% block navbar_content_left %}
{% endblock navbar_content_left %}
{% block navbar_content_right %}
<li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock navbar_content_right %}

{% block body_content %}
<div class="container">

  <div class="col-md-12">
    {% for assignment in assignments %}
    {% if assignment['name'] == name %}
    <h2><span style="font-weight:bold">
	{{ course_data['name'] }}: 
    </span></h2>
    <h4>{{ assignment['name'] }}</h4>
    
    <br/>
    <div class="well well-lg">
      <p>{{ assignment['description'] }}</p>
      <span style="font-weight:bold">Due Date: {{ assignment['dueDate'] }}</span>
    </div>

    <!-- OPTIONAL: messaging/comment section -->
    
    {% if userType=='teacher' %}
    <form id='form' class="form-horizontal" method="POST" action="{{ url_for('assignment', course_id=course_data['_id'], name=name) }}">
      <fieldset>
	
	<h1>Edit Assignment</h1>
	
	<div class="form-group">
	  <label for="name" class="col-lg-2 control-label">New Assignment Name</label>
	  <div class="col-lg-10">
	    <input type="text" class="form-control" id="new_name" name="new_name" pattern=".{2,100}" value="{{ assignment['name'] }}">
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="description" class="col-lg-2 control-label">New Description</label>
	  <div class="col-lg-10">
	    <textarea class="form-control" id="new_description" name="new_description" maxlength="300" value="{{ assignment['description'] }}">
	    </textarea>
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="description" class="col-lg-2 control-label">New Due Date</label>
	  <div class="col-lg-10">
	    <select class="form-control" id="new_month" name="new_month">
	      <option value="1">January</option>
              <option value="2">February</option>
              <option value="3">March</option>
              <option value="4">April</option>
              <option value="5">May</option>
              <option value="6">June</option>
              <option value="7">July</option>
              <option value="8">August</option>
              <option value="9">September</option>
              <option value="10">October</option>
              <option value="11">November</option>
              <option value="12">December</option>
            </select> /
	    <select class="form-control" id="new_day" name="new_day">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select> /
	    <input type="number" id="new_year" name="new_year" maxlength="4" pattern="[0-9]{4}" value="{{ assignment['dueDate'][6:] }}">
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="description" class="col-lg-2 control'label">New Assignment Type</label>
	  <div class="col-lg-10">
	    <div class="radio radio-primary">
	      {% if assignment['aType'] == 'warning' %}
	      <label><input id="new_aType" name="new_aType" value="warning" type="radio" checked="">Test</label>
	      {% else %}
	      <label><input id="new_aType" name="new_aType" value="warning" type="radio">Test</label>
	      {% endif %}
	      {% if assignment['aType'] == '' %}
	      <label><input id="new_aType" name="new_aType" value="" type="radio" checked="">Homework</label>
	      {% else %}
	      <label><input id="new_aType" name="new_aType" value="" type="radio">Homework</label>
	      {% endif %}
	      {% if assignment['aType'] == 'info' %}
	      <label><input id="new_aType" name="new_aType" value="info" type="radio" checked="">Review</label>
	      {% else %}
	      <label><input id="new_aType" name="new_aType" value="info" type="radio">Review</label>
	      {% endif %}
	    </div>
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="password" class="col-lg-2 control-label">Verify Password</label>
	  <div class="col-lg-10"> <input type="password" class="form-control" id="password" name="password" placeholder="CurrentSuperSecretPassword" pattern=".{6,50}" required>
	  </div>
	</div>
	
	<div class="form-group">
	  <div class="col-lg-12 center-text">
	    <button id="submit" name="submit" value="edit" class="btn btn-primary">Edit</button>
	    <button id="submit" name="submit" value="delete" class="btn btn-warning">Delete Assignment</button>
	  </div>
	</div>
      </fieldset>
    </form>
    {% endif %}

    {% endif %}
    {% endfor %}
    
  </div>
</div>

{% endblock %}
