{% extends "base.html" %}

{% block navbar_content_left %}
{% endblock navbar_content_left %}
{% block navbar_content_right %}
<li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock navbar_content_right %}

{% block body_content %}
<div class="container">
    <br/>
    <div class="col-md-12 center-all">
    <h2>Name</h2>
    <span id="name">{{ course_data['name'] }}</span>
    <br/>
    <h2>Description</h2>
    <p id="description">{{ course_data['description'] }}</p>
    <h2>Teacher</h2>
    <a id="teacher" href="{{ url_for('teacher_profile', teacher_id=course_data['teacherId']) }}">{{ teacher }}</a>
    <br/>
    <h2>Students</h2>
    <ul>
    {% for student in course_data['students'] %}
        <li>{{ student }}</li>
    {% endfor %}

    </div>
</div>
{% endblock body_content %}
{% block scripts %}
{% endblock scripts %}
