{% extends "base.html" %}

{% block bodycontent %}

<center> <h1>Welcome to gradebook</h1> </center>

<div class="jumbotron">

<p>
  Here at gradebook, we aim to create a better solution to online websites for teachers and students alike. With features such as calenders to keep track of assignments and instant internet scrapping to find PDFs related to the class, gradebook offers an environment that is slick and full of useful options.
</p>

<p>
To login or create an account, choose the correct type of user below.
</p>

<p>
  <a class="btn btn-default" href="tlogin.html" role="button">Teacher</a>
  <a class="btn btn-default" href="slogin.html" role="button">Student</a>
</p>

</div>

  

{% endblock bodycontent %}
