{% extends "base.html" %}

{% block bodycontent %}

<center><h1>Welcome to gradebook</h1></center>
<!-- make a div to hold info relevant for teachers and one for students!-->
<h2>Create an account or log in</h2>

<div class="container">

  <form class="form-horizontal">
    
    <fieldset>
      
      <div class="form-group">
	<label for="email" class="col-lg-2 control-label">Email</label>
	<div class="col-lg-10">
	  <input type="email" class="form-control" id="email" placeholder="example@something.com">
	</div>
   	<label for="password" class="col-lg-2 control-label">Password</label>
	<div class="col-lg-10">
	  <input type="password" class="form-control" id="password" placeholder="password">
	</div>

	<!-- OPTIONAL remember me box
	     todo: figure out how session remember me works -->
	<div class="checkbox">
	  <label>
	    <input type="checkbox">Remember Me
	  </label>
	</div>
	<br>
	<div class="form-group">
	  <div class="col-lg-10 col-lg-offest-2">
	    <button type="register" class="btn btn-primary">Register</button>
	    <button type="submit" class="btn btn-primary">Submit</button>
	  </div>
	</div>
	
    </fieldset>
    
  </form>
  
</div>
    

{% endblock bodycontent %}
    
      
