{% extends "base.html" %}

{% block bodycontent %}

<center><h1>Welcome to gradebook</h1></center>
<!-- make a div to hold info relevant for teachers and one for students!-->
<h2>Create an account or log in</h2>

<div class="container">

  <div class="panel-body form-group">
    <form>
      
      <input type="text" class="form-control" name="email" placeholder="your@emailadress.here">
      <br>
      <textarea class="form-control" name="password" rows="15" placeholder="password"></textarea>
      <br>
      <center>
	<button type="submit" name="button_login" class="btn btn-default btn-primary">Login</button>
      </center>
      <center>
	<button type="submit" name="button_register" class="btn btn-default btn-primary">Register</button>
      </center>
      
    </form>

  </div>
    

{% endblock bodycontent %}
    
      
