{% extends "base.html" %}

{% block navbar_content_left %}
{% if isStudent %}
    <li><a href="{{ url_for('student') }}">Home</a></li>
    <li><a href="{{ url_for('student_profile', student_id=student_data['_id']) }}">Profile</a></li>
    <li><a href="{{ url_for('student_courses') }}">Courses</a></li>
    <li class="active"><a href="#">Messages</a></li>
{% elif isTeacher %}
    <li><a href="{{ url_for('teacher') }}">Home</a></li>
    <li><a href="{{ url_for('teacher_profile', teacher_id=teacher_data['_id']) }}">Profile</a></li>
    <li><a href="{{ url_for('teacher_courses') }}">Courses</a></li>
    <li class="active"><a href="#">Messages</a></li>
{% endif %}
{% endblock navbar_content_left %}
{% block navbar_content_right %}
{% if isStudent %}
    <li><a href="{{ url_for('student_settings') }}">Settings</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% elif isTeacher %}
    <li><a href="{{ url_for('teacher_settings') }}">Settings</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endif %}
{% endblock navbar_content_right %}

{% block body_content %}
<br>
<h1 style="text-align: center;">Messages: Username</h1>
<div class="jumbotron">
    <!-- Template a for loop here -->

    <!-- 

    Panel-success indicates that message was sent from logged in user [SUCCESS=FROM]
    Panel-info indicates that message was sent to logged in user [INFO=TO]

    --> 
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Timestamp</h3>
        </div>
        <div class="panel-body">
            Message
        </div>
    </div>
    <br>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Timestamp</h3>
        </div>
        <div class="panel-body">
            Message
        </div>
    </div>
    <br>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Timestamp</h3>
        </div>
        <div class="panel-body">
            Message
        </div>
    </div>
</div>
</div>
</div>
<form class="form-horizontal">
    <fieldset>
        <div class="form-group">
            <div class="col-lg-7 col-lg-offset-2">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">Enter your message here, then hit submit.</span>
            </div>
            <div class="col-lg-3">
                <button type="submit" class="btn btn-primary">Submit<div class="ripple-wrapper"></div></button>
            </div>
        </div>
    </fieldset>
</form>
{% endblock body_content %}
