{% extends "base.html" %}

{% block navbar_content_left %}
{% if isStudent %}
    <li><a href="{{ url_for('student') }}">Home</a></li>
    <li><a href="{{ url_for('student_profile', student_id=student_data['_id']) }}">Profile</a></li>
    <li><a href="{{ url_for('student_courses') }}">Courses</a></li>
    <li class="active"><a href="#">Messages</a></li>
{% elif isTeacher %}
    <li><a href="{{ url_for('teacher') }}">Home</a></li>
    <li><a href="{{ url_for('teacher_profile', teacher_id=teacher_data['_id']) }}">Profile</a></li>
    <li><a href="{{ url_for('teacher_courses') }}">Courses</a></li>
    <li class="active"><a href="#">Messages</a></li>
{% endif %}
{% endblock navbar_content_left %}
{% block navbar_content_right %}
{% if isStudent %}
    <li><a href="{{ url_for('student_settings') }}">Settings</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% elif isTeacher %}
    <li><a href="{{ url_for('teacher_settings') }}">Settings</a></li>
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endif %}
{% endblock navbar_content_right %}

{% block body_content %}

<div class="container-fluid">
  <div class="col-lg-12">
    <br/>
    <div class="well" id="profile">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="well" id="profile">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div class="well" id="profile">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>

{% endblock body_content %}
