{% extends "base.html" %}

{% block navbar_content_left %}
<li><a href="{{ url_for('student') }}">Home</a></li>
<li class="active"><a href="#">Profile</a></li>
<li><a href="{{ url_for('messages') }}">Messages</a></li>
{% endblock navbar_content_left %}
{% block navbar_content_right %}
<li><a href="{{ url_for('student_settings') }}">Settings</a></li>
<li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock navbar_content_right %}

{% block body_content %}
<div class="container">
    <br/>
    <div class="col-md-12 center-all">
        {% if student_data['name'] != '' %}
        <h2>Name</h2>
        <span id="name">{{ student_data['name'] }}</span>
        {% endif %}
        <br/>
        {% if student_data['email'] != '' %}
        <h2>Email</h2>
        <span id="email">{{ student_data['email'] }}</span>
        {% endif %}
    </div>
</div>
{% endblock body_content %}
{% block scripts %}
{% endblock scripts %}
